@use "./base" as *;



.lp-mid {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.am-main {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
  }
}

.lp-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

